.portfolio {
  @include flexbox();
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 100rem;
  height: auto;
}

.title {
  font-size: 2.8rem;
  font-weight: 300;
  letter-spacing: 0.3rem;
  margin: 2rem auto;
  text-transform: uppercase;
}

/* FLEX GRID FOR PROJECTS */

.project-container {
  @include flexbox();
  flex-flow: nowrap;
  justify-content: center;
  align-content: center;
  max-width: 100%;
  height: 360px;
  margin: 0 auto;
}

.project__img {
  @include flexbox();
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  background: $grey;
  width: 30%;
  height: 360px;
  margin: 0.1rem;
  transform-style: preserve-3d;
}

.project__text {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  transform: translateZ(30px);
}

@media screen and (min-width: 1050px) {
  .portfolio {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 655px) and (max-width: 1049px) {
  .project__img {
    width: 33%;
    height: 360px;
  }
}

@media screen and (min-width: 0px) and (max-width: 654px) {
  .project-container {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .project__img {
    width: 100%;
    height: 360px;
  }
}