<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link type="text/css" rel="stylesheet" href="/src/css/styles.css">
  <title>Portfolio</title>
</head>

<body>

  <header class="header">
    <nav class="nav">
    </nav>

    <div class="jumbo">
      <h1 class="jumbo__title">Brandon Merckling</h1>
      <h2 class="jumbo__text">Frontend Developer who utilizes leading technolgies to build what you need.</h2>
      <div class="break"></div>
      <div class="work" id="work">View Projects</div>
    </div>
    <div class="links">
      <p class="text--mini">Stay connected</p>
      <a class="github" href="https://github.com/v1st"></a>
      <a class="linkedin" href="https://www.linkedin.com/in/brandon-merckling/"></a>
    </div>
    <div class="blend"></div>
  </header>

  <div class="main">
    <section class="portfolio" id="portfolio">
      <h2 class="title">Portfolio</h2>
      <div class="project-container">
        <div class="project__img" data-tilt data-aos="zoom-in-up" data-aos-delay="50">
          <div class="project__text">Project 1</div>
        </div>
        <div class="project__img" data-tilt data-aos="zoom-in-up" data-aos-delay="250">
          <div class="project__text">Project 2</div>
        </div>
        <div class="project__img" data-tilt data-aos="zoom-in-up" data-aos-delay="350">
          <div class="project__text">Project 3</div>
        </div>
      </div>
    </section>

    <section class="about">
      <h2 class="title">About me</h2>
      <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque repellat eveniet odio, natus quas
        autem veritatis
        magnam expedita pariatur nisi itaque labore distinctio dolore excepturi nobis facilis dolores corporis
        voluptate.
        Neque perferendis laborum reprehenderit nam quod sed modi vitae illum eveniet molestiae veniam omnis et autem
        blanditiis porro nihil vel maiores necessitatibus similique itaque, magnam dicta magni! Voluptates, sit
        excepturi.
        Nihil perferendis quaerat incidunt fuga veniam similique cupiditate officiis velit tempora amet sunt,
        aspernatur,
        dolore placeat dolor.
        <br>
        <br> Qui modi architecto inventore, explicabo omnis, enim ducimus, dolore nam laboriosam consequatur
        laudantium.
        Libero non necessitatibus at. Quae at, inventore placeat excepturi recusandae dolor laboriosam mollitia a.
        Nostrum qui ipsam voluptatem reprehenderit. Dicta soluta ut quos suscipit repudiandae praesentium quae
        exercitationem
        rerum error.
        <br>
        <br> Dolor earum reiciendis consequatur corporis aperiam odio ab, eius corrupti atque explicabo est eligendi
        voluptate aut quasi? In magni molestiae voluptate sunt! Nobis similique nisi cupiditate esse quo non! Nemo.
        Quidem iure provident impedit perspiciatis expedita, quisquam autem esse voluptate officiis repudiandae
        exercitationem
        voluptatem, est quos possimus? Vel cum ullam pariatur, aliquam officiis iste!
      </p>
    </section>

    <% include ./partials/form %>

  </div>

  <footer class="footer">
    <div class="scrollBtn" id="scrollBtn"></div>
    <div class="links--big">
      <div class="icon">
        <a class="github--big" href="https://github.com/v1st"></a>
      </div>
      <div class="icon">
        <a class="linkedin--big" href="https://www.linkedin.com/in/brandon-merckling/"></a>
      </div>
    </div>
    <p class="text--mini">Brandon Merckling
      <span class="text--mini-green">&copy;2018</span>
    </p>
  </footer>

  <script src='/src/js/jquery.min.js'></script>
  <script src="/src/js/tilt.jquery.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="/src/js/main.js"></script>
  <script>
    AOS.init();
  </script>
</body>

</html>